html {
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background-color: #e9ebf442;
    padding: 12px 0;
}

.back_btn {
    height: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
    /* background-color: rgb(135, 148, 190); */
}

.back_btn button{
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    font-weight: bold;
    padding: 0;
    width: 100%;
    border-bottom: 1px dashed rgb(135, 148, 190);
}

.back_btn button span{
    font-size: 32px;
    margin-right: 5px;
    color: #8794be;
    margin-bottom: 3px;
    transition: ease 0.3s;
}

.back_btn button:hover span{
    margin-right: 15px;
}

.aside {
    padding: 15px;
    max-width: 250px;
    width: 100%;
}

.dashboard {
    background-color: white;
    padding: 40px;
    max-height: calc(100vh - 72px);
    min-height: calc(100vh - 72px);
    width: 100%;
    overflow-y: scroll;
    border-radius: 1rem 0 0 1rem;
    box-shadow: -16px 0 24px rgb(0 0 0 / 4%), -4px 0 8px rgb(0 0 0 / 2%);
}

.flex {
    display: flex;
}

nav ul.menu {
    padding: 50px 0;
}

nav ul.menu li {
    margin: 28px 0;
}

nav ul.menu li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 600;
    border-bottom: 2px solid #8794be;
    transition: ease 0.3s;
}

nav ul.menu li a:hover{
    /* border-bottom: none; */
    color: #8794be;
    margin-left: 20px;
}


/* light blue
 #8794be  */


/* main green
 #005d3b  */

.bad-request {
    display: none;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 6, 6);
}

.good-request {
    display: none;
}

.dashboard-content {
    padding: 20px;
}

table,
th,
td {
    border: 1px solid black;
}

.full_info_table {
    display: none;
}

.full_info_table--inner {
    display: flex;
    margin-bottom: 20px;
}

.full_info_table--inner thead,
.full_info_table--inner tbody {
    width: 50%;
}

.full_info_table--inner thead tr {
    display: flex;
    flex-direction: column;
}

.full_info_table--inner tbody tr {
    display: flex;
    flex-direction: column;
}

.parcel_worker {
    display: none;
}

footer {
    background-color: #8794be;
    margin-top: auto;
}

.logo {
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}

.logo-img {
    max-width: 36px;
}

.logo-text {
    max-width: 200px;
}

.dashboard-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.dashboard-title h1{
  font-size: 66px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 12px;
  margin-left: 10%;
}

.dashboard-title h3 {
  font-size: 28px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 16px;
  margin-left: 10%;
}
.dashboard-title p{
    margin-left: 20%;
    margin-bottom: 20px;
    font-size: 22px;
    color: #8794be;
}
.dashboard-main-img{
    margin-top: 120px;
  max-width: 250px;
  margin-left: 20%;
}

.dashboard-user-title{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.dashboard-user-title h1{
    font-size: 28px;
}
.dashboard-user-title ul{
    margin-top: 20px;
}
.dashboard-user-title ul li {
font-size: 18px;
margin: 12px 0;
}

.new_parcel-title{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px dashed rgb(135, 148, 190);
}

.btn-main{
    color: white;
    border: #8794be;
    background-color: #8794be;
}
button.btn-main:hover {
    /* opacity: 0.8; */
    background-color: #bac2d9;
}